
:root {
	--foreground-light: rgb(192, 231, 253);
	--foreground-dark: rgb(29, 29, 46);
	--foreground-brown: rgb(80, 38, 14);

	--background-dark: rgb(49, 49, 73);
	--background-light: rgb(154, 168, 177);
  }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 52px;
}

.bottle-background {
	background: url('../images/seibutsu-object_7.JPG') no-repeat bottom center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.background-light {
	background-color: var(--background-light);
}


.about{
	padding: 10px 35px 5px;

	/* background-color: var(--dark-color); */
	color: var(--foreground-light);
	/* background-image: url('../images/tileable//brown_background_oil_tileable.jpg'); */
	background-color: rgba(66, 0, 0, 0.37);
	backdrop-filter: blur(6px) saturate(20%);
	border: 1px solid rgba(235, 235, 235, 0.329);
}

.about .btn{
	color: var(--foreground-brown);
	/* background-color: var(--foreground-light); */
	background-color: rgb(159, 207, 214);

	border-radius: 2px;
	border: 0px solid rgb(131, 131, 131);

	padding: 1px 8px;
	font-size: 150%;
}

.about hr{
	border-top: 1px solid gray;
}

.navbar-dark{
	background-color: var(--background-dark);
}

.photo-card{
	margin-bottom: 20px;
	padding: 10px;
	background-color: rgb(236, 236, 236);
}