
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  background: url('../images/hana_no_aru_bin-flower_and_bottle.JPG') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  padding-top: 52px;
}


.about{
	padding: 10px 35px 5px;

	/* background-color: rgba(134, 26, 26, 0.856); */
	
	color: white;
	color: rgb(143, 173, 207);
	color: rgb(0, 204, 255);
	
	/* background-color: black; */
	/* mix-blend-mode: screen; */
}

.about hr{
	border-top: 1px solid rgb(179, 179, 179);

}