
:root {
	--foreground-light: rgb(192, 231, 253);
	--foreground-dark: rgb(29, 29, 46);
  }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 52px;
}

.bottle-background {
	background: url('../images/paintings/wide/seibutsu-object_7.JPG') no-repeat bottom center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.gallery-background {
	/* background: url('../images/gray-to-red-oil-background.jpg') no-repeat bottom center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;

	background-attachment: fixed; */
}

img.bg{
	min-height: 100%;
	min-width: 1477px;
	  
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	  
	/* Set up positioning */
	position: fixed;
	bottom: 0;
	left: 0;
}

.about{
	padding: 10px 35px 5px;

	color: rgba(255, 255, 255, 0.5);

	background-color: rgba(32, 0, 0, 0.705);

	border: 1px solid rgba(235, 235, 235, 0.329);
}

.photo-card{
	margin-bottom: 20px;
	padding: 20px;
	background-color: rgba(224, 224, 224, 0.877);

	color: slategray;
	
	border: 1px solid rgba(134, 134, 134, 0.555);
}

.dark-glass {
	background-color: rgba(224, 224, 224, 0.877);
	color: slategray;
	border: 1px solid rgba(134, 134, 134, 0.555);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #b80000;
    background-color: rgb(247, 247, 247);
    border-color: #ddd;
}

.pagination > .active > a
{
	font-weight: bold;
	color: rgb(194, 28, 28) !important;
	background-color: rgba(240, 240, 240, 0.877) !important;
    border: solid 1px rgb(177, 177, 177) !important;
}

@supports  ( background-clip: text ) or ( -webkit-background-clip: text ) {
	.about .knockout-text {
		background: url('../images/paintings/wide/seibutsu-object_7.JPG') no-repeat bottom center fixed;

		background-clip: text;
		-webkit-background-clip: text;
		
		color: rgba(255, 255, 255, 0.5) !important;
	}
	.dark-glass{
		background-color: rgba(0, 0, 0, 0.616);
		color: white;
	}
	.dark-glass .knockout-text{
		background: url('../images/gray-to-red-oil-background.jpg') no-repeat bottom center fixed;

		background-clip: text;
		-webkit-background-clip: text;
		
		color: rgba(255, 255, 255, 0.39);
	}
}

@supports  ( backdrop-filter: blur(4px) ) or ( -webkit-backdrop-filter: blur(4px) ) {
	.about {
		background-color: rgba(34, 0, 0, 0.568);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
	}

	.dark-glass{
		background-color: rgba(0, 0, 0, 0.411);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);

		font-weight: bold;
		color: rgba(255, 255, 255, 0.39);
	}

	.pagination > li > a:focus,
	.pagination > li > a:hover,
	.pagination > li > span:focus,
	.pagination > li > span:hover
	{
		color: #49a3ec;
		background-color: rgba(247, 247, 247, 0.288);
		border-color: rgba(128, 128, 128, 0.212);
	}

	.pagination > .active > a
	{
		font-weight: bold;
		color: rgb(106, 225, 255) !important;
		background-color: rgba(0, 0, 0, 0.473) !important;
		border: solid 1px rgba(0, 0, 0, 0.253) !important;
	}
}
@supports  ( backdrop-filter: saturate(20%) ) or ( -webkit-backdrop-filter: saturate(20%) ) {
	.about {
		background-color: rgba(34, 0, 0, 0.568);
		backdrop-filter: saturate(20%);
		-webkit-backdrop-filter: saturate(20%);
	}
}
@supports  ( backdrop-filter: blur(4px) saturate(20%) ) or ( -webkit-backdrop-filter: blur(4px) saturate(20%) ) {
	.about {
		background-color: rgba(34, 0, 0, 0.568);
		backdrop-filter: blur(4px) saturate(20%);
		-webkit-backdrop-filter: blur(4px) saturate(20%)
	}
}

.about .btn{

	background-color: rgba(0, 0, 0, 0);
	color: rgba(255, 255, 255, 0.5);

	border-radius: 2px;
	border: 1px solid rgb(190, 190, 190);

	padding: 1px 8px;
	font-size: 150%;
}

.about hr{
	border-top: 1px solid gray;
}

.navbar-dark{
	background-color: rgb(45, 20, 48);
}

#paintingCloseupModal .modal-header {
	padding: 6px 16px;
}

#paintingCloseupModal .modal-title {
	font-size: 150%;
}

#paintingCloseupModal .modal-footer {
	padding: 6px 12;
}

#paintingCloseupModal .modal-content {
	padding: 6px 12;
}
#paintingCloseupModal .modal-body {
	background-color: rgb(245, 245, 245);
}