
:root {
	--foreground-light: rgb(192, 231, 253);
	--foreground-dark: rgb(29, 29, 46);
  }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 52px;
}

.bottle-background {
	background: url('../images/paintings/wide/seibutsu-object_7.JPG') no-repeat bottom center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.gallery-background {
	background: url('../images/gray-to-red-oil-background.jpg') no-repeat bottom center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}


.about{
	padding: 10px 35px 5px;

	color: rgba(255, 255, 255, 0.5);

	background-color: rgba(32, 0, 0, 0.705);

	border: 1px solid rgba(235, 235, 235, 0.329);
}

.photo-card{
	margin-bottom: 20px;
	padding: 20px;
	background-color: rgba(224, 224, 224, 0.877);

	color: slategray;
	
	border: 1px solid rgba(134, 134, 134, 0.555);
}

@supports  ( background-clip: text ) or ( -webkit-background-clip: text ) {
	.about .knockout-text {
		background: url('../images/paintings/wide/seibutsu-object_7.JPG') no-repeat bottom center fixed;

		background-clip: text;
		-webkit-background-clip: text;
		
		color: rgba(255, 255, 255, 0.5) !important;
	}
	.photo-card{
		background-color: rgba(0, 0, 0, 0.616);
	}
	.photo-card .knockout-text{
		background: url('../images/gray-to-red-oil-background.jpg') no-repeat bottom center fixed;

		background-clip: text;
		-webkit-background-clip: text;
		
		color: rgba(255, 255, 255, 0.39);
	}
}

@supports  ( backdrop-filter: blur(4px) ) or ( -webkit-backdrop-filter: blur(4px) ) {
	.about {
		background-color: rgba(34, 0, 0, 0.568);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
	}

	.photo-card{
		background-color: rgba(0, 0, 0, 0.411);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
	}
}
@supports  ( backdrop-filter: saturate(20%) ) or ( -webkit-backdrop-filter: saturate(20%) ) {
	.about {
		background-color: rgba(34, 0, 0, 0.568);
		backdrop-filter: saturate(20%);
		-webkit-backdrop-filter: saturate(20%);
	}
}
@supports  ( backdrop-filter: blur(4px) saturate(20%) ) or ( -webkit-backdrop-filter: blur(4px) saturate(20%) ) {
	.about {
		background-color: rgba(34, 0, 0, 0.568);
		backdrop-filter: blur(4px) saturate(20%);
		-webkit-backdrop-filter: blur(4px) saturate(20%)
	}
}

.about .btn{

	background-color: rgba(0, 0, 0, 0);
	color: rgba(255, 255, 255, 0.5);

	border-radius: 2px;
	border: 1px solid rgb(190, 190, 190);

	padding: 1px 8px;
	font-size: 150%;
}

.about hr{
	border-top: 1px solid gray;
}

.navbar-dark{
	background-color: rgb(45, 20, 48);
}

#paintingCloseupModal .modal-header {
	padding: 6px 16px;
}

#paintingCloseupModal .modal-title {
	font-size: 150%;
}

#paintingCloseupModal .modal-footer {
	padding: 6px 12;
}

#paintingCloseupModal .modal-content {
	padding: 6px 12;
}
#paintingCloseupModal .modal-body {
	background-color: rgb(245, 245, 245);
}